* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe5e5;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 12px 25px; /* Хэмжээг нь томруулав */
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Зөөлөн сүүдэр */
    transition: all 0.2s ease;
}

/* "Yes" товчийг ялгаруулж харуулах */
#yes-btn {
    background-color: #ff4d6d !important; /* Ягаан өнгө */
    color: white !important;
}

/* "No" товчлуур absolute байх үед хэлбэрээ алдахгүй байх */
#move-random {
    position: relative; /* script.js ажиллахаар absolute болно */
    white-space: nowrap; /* Текст нэг мөрөнд байх */
}

@keyframes pulse {
  0% {
    transform: scale(3); /* no2-оос том буюу 3-аас эхэлнэ */
  }
  70% {
    transform: scale(3.3); /* Цохилохдоо 3.3 болно */
  }
  100% {
    transform: scale(3);
  }
}

#yes-btn {
  transform: scale(3); /* Үндсэн хэмжээ нь 3 */
  animation: pulse 1.5s infinite;
  display: inline-block;
}
